NEXT_PUBLIC_SUPABASE_URL=https://euzowyevjclriaxodizh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1em93eWV2amNscmlheG9kaXpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NjcwMDgsImV4cCI6MjA4OTQ0MzAwOH0.X2Iwos7aOLlw4A1t5334_sOgAUAmY11fGtzm8qvAigg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1em93eWV2amNscmlheG9kaXpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2NzAwOCwiZXhwIjoyMDg5NDQzMDA4fQ.JhalcdK1P_iwDmzstJ6ukfIiGwbxasJdQVK4BoKC0qU
OPENAI_API_KEY=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